@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #003740e7;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #008C72;
    text-align: center;
    text-shadow: 1px 1px 2px #003840;
}

h2{
    color: #02A676;
    text-shadow: 1px 1px 2px #003840;
}

body{
    background-image:linear-gradient(to right, #007369,#008C72)
}
p{
    text-align: justify;
}